// ======================================
//  Base Styles
// ======================================
@import url('https://fonts.googleapis.com/css?family=Bubbler+One');

* {
  box-sizing: border-box;
}

%name{
	@include main-font;
}

h1{
	@extend %name;
}

h2{
	@include secondary-font;
	font-size: 28px;
}

h3{
	@include secondary-font;
}
p{
	@include paragraph-font;
}

.container{
  background-color: $body-background-color;
}

ul{
  list-style-type: none;
  padding: 0;
}
